<html>
    <head></head>
    <body>
        <p>Hello <strong>World!</strong></p>
        
        <% if(cats && cats.length > 0) { %>
        <ul>
            <% for(var i = 0; i < cats.length; i++){ var cat = cats[i]; %>
            <li>
                <%= cat.name %>
            </li>
            <% } %>
        </ul>
        <% } %>
    </body>
</html>