<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><a href="/">Hazel</a></h1>

    <section>
        <h2>Search</h2>

        <form method="GET" action="/search">
            <input type="text" name="term" />
            <input type="submit" value"Search" />
        </form>
    </section>