<!-- View Object 
{
    slug : [string] Current URL slug,
    title : [string] Title user was looking for,
    config : [config] Global config
}
-->
<div class="before-main-wrapper">
    <div class="header-wrapper">
        <div class="container header-left">
            <div class="header-titles">
                <h1><%= title %> Not Found</h1>
            </div>
        </div>
    </div>
</div>

<div class="container wrap main-section" id="wrap-main-section">
    <div id="content" class="content">
        <div class="row bg">
            <main class="main col-sm-12" role="main">
                <div class="alert alert-warning">Sorry, but the document you were trying to view does not exist yet. Would you like to <a href="<%= slug %>/edit">create it?</a></div>

                <form role="search" class="form" method="get" id="searchform" action="search">
                    <div class="input-group">
                        <label class="sr-only" for="s">Search for:</label>
                        <input type="search" value="" name="s" id="s" class="form-control" placeholder="Search documents...">
                        <span class="input-group-btn">
                        <button type="submit" id="searchsubmit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </main>
            <!-- /.main -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.content -->
</div>