<!-- View Object 
{
    document = [document] Current document,
    title = [string] Current title,
    relatedDocuments = [array] Collection of related documents,
    recentDocuments = [array] Collection of recent documents,
    config = [config] Global config
}
-->

<link rel="stylesheet" href="vendor/highlight/highlight.css" type='text/css' media='all' />

<!-- HEADER -->
<div class="before-main-wrapper">
    <div class="header-wrapper">
        <div class="container header-left">
            <div class="header-titles">
                <h1 class="page-title"><%= document.title %></h1>
                <a class="btn btn-primary pull-right" href="<%= document.slug %>/edit"><i class="fa fa-pencil"></i> Edit</a>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT -->
<div class="container wrap main-section" id="wrap-main-section">
    <div id="content" class="content">
        <div class="row bg">
            <main class="main col-sm-8"  role="main">
                <article>
                    <div class="entry-content js-page">
                        <div class="toc" style="display:none;"></div>
                        <%- document.html %>
                    </div>                    
                </article>
            </main>
            
            <!-- SIDEBAR -->
            <aside id="sidebar-primary" class="sidebar col-sm-4" role="complementary">
                
                <% if(relatedDocuments && relatedDocuments.length > 0){ %>
                <!-- RELATED DOCUMENTS -->
                <section class="widget widget_recent_entries">
                    <h3 class="widget-title">Related Documents</h3>
                    <ul>
                        <% for(var i = 0; i < relatedDocuments.length ; i++){ var relatedDocument = relatedDocuments[i]; %>
                        <li class="list-post pa-post-format">
                            <i class="fa fa-file-text fa-fw"></i> <a href="<%= relatedDocument.slug %>"><%= relatedDocument.title %></a>
                        </li>
                        <% } %>
                    </ul>
                </section>
                <% } %>
                
                <% if(recentDocuments && recentDocuments.length > 0){ %>
                <!-- RECENT DOCUMENTS -->
                <section class="widget widget_recent_entries">
                    <h3 class="widget-title">Recent Documents</h3>
                    <ul>
                        <% for(var i = 0; i < recentDocuments.length ; i++){ var recentDocument = recentDocuments[i]; %>
                        <li class="list-post pa-post-format">
                            <i class="fa fa-file-text fa-fw"></i> <a href="<%= recentDocument.slug %>"><%= recentDocument.title %></a>
                        </li>
                        <% } %>
                    </ul>
                </section>
                <% } %>
                
            </aside>
            <!-- /.sidebar -->
            <!-- /.main -->
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.wrap -->

<script src="/vendor/jquery.js" type="text/javascript"></script>
<script src="/vendor/jquery.toc.js" type="text/javascript"></script>
<script src="/vendor/highlight/highlight.js" type="text/javascript"></script>
<script src="/scripts/page.js" type="text/javascript"></script>