<!-- View Object 
{
    title = [string] Current title,
    popularSearches = [array] Collection of popular searches,
    recentDocuments = [array] Collection of recent documents,
    randomDocuments = [array] Collection of random documents,
    popularDocuments = [array] Collection of popular documents,
    siteSections = [array] Collection of site sections as defined in config,
    config = [config] Global config
}
-->

<!-- MAIN CONTENT HEAD -->
<div class="before-main-wrapper">
    <div class="header-wrapper">
        <div class="container header-center">
            <div class="header-sidebar">
                <div class="widget clearfix">
                    
                    <!-- DOCUMENT SEARCH -->
                    
                    <h3 class="widget-title">Document Search</h3>
                    <div class="live-search">
                        <form role="search" method="get" id="searchform" class="form-search" action="search">
                            <div class="input-group">
                                <input type="text" id="autocomplete-ajax" name="s" id="s" class="searchajax search-query form-control" autocomplete="off" placeholder="Search for documents here...">
                                <span class="input-group-btn">
                                    <input type="submit" value="Search" class="btn btn-primary">
                                </span>
                            </div>
                        </form>	
                    </div>
                    
                    <!-- POPULAR SEARCHES -->
                    
                    <% if(popularSearches && popularSearches.length > 0){ %>
                        <p class="top-searches">Popular searches:
                        <% for(var i = 0; i < popularSearches.length; i++){ var search = popularSearches[i]; %>
                            <a href="search?s=<%= encodeURIComponent(search) %>"><%= search + ((i != popularSearches.length -1) ?"," :"") %></a>
                        <% } %>
                        </p>
                    <% } %>
                </div>
            </div >
        </div >
    </div >
</div >

<!-- MAIN CONTENT -->
<div class="container wrap main-section" id="wrap-main-section">
    <div id="content" class="content">
        <% if(siteSections && siteSections.length > 0) { %>
        <div class="row bg">
            <main class="main col-sm-12"  role="main">
                <div class="row knowledge-base-row">
                    <% for(var i = 0; i < siteSections.length; i++){ var section = siteSections[i];%>
                    <!-- SECTION -->
                    <div class="col-sm-4" >
                        <div class="kb-section">
                            <h2>
                                <%= section.title %>
                            </h2>
                            <span class="description"><%= section.description %><span>
                            <a class="link" href="~<%= section.tag %>"><%= section.documentCount %> documents</a>
                        </div>
                    </div>
                    <% } %>

                </div>
            </main>
            <!-- /.main -->
            <div class="clearfix"></div>
        </div>
        <% } %>
        <div class="row bg">
            <main class="main col-sm-12"  role="main">
                <div class="row knowledge-base-row">
                    
                    <!-- RECENT DOCUMENTS -->
                    <div class="col-sm-4 kb-category">
                        <h2>
                            Recent Documents
                        </h2>
                        <% if(recentDocuments && recentDocuments.length > 0){%>
                        <ul class="category-posts">
                            <% for(var i = 0; i < recentDocuments.length; i++){ var document = recentDocuments[i];%>
                                <li class="list-post pa-post-format">
                                    <i class="fa fa-file-text fa-fw"></i> <a href="<%= document.slug %>"><%= document.title %></a>
                                </li>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                    
                    <!-- POPULAR DOCUMENTS -->
                    <div class="col-sm-4 kb-category">
                        <h2>
                            Popular Documents
                        </h2>
                        <% if(popularDocuments && popularDocuments.length > 0){ %>
                        <ul class="category-posts">
                            <% for(var i = 0; i < popularDocuments.length; i++){ var document = popularDocuments[i];%>
                                <li class="list-post pa-post-format"><i class="fa fa-file-text"></i> <a href="<%= document.slug %>"><%= document.title %></a></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                     
                    <!-- RANDOM DOCUMENTS -->
                    <div class="col-sm-4 kb-category">
                        <h2>
                            Random Documents
                        </h2>
                        <% if(randomDocuments && randomDocuments.length > 0){ %>
                        <ul class="category-posts">
                            <% for(var i = 0; i < randomDocuments.length; i++){ var document = randomDocuments[i];%>
                                <li class="list-post pa-post-format"><i class="fa fa-file-text"></i> <a href="<%= document.slug %>"><%= document.title %></a></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                    
                </div>
            </main>
            <!-- /.main -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.wrap -->
