<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title ? title+" | " : ""%> Hazel Wiki</title>
        <link rel="stylesheet" href="/styles/main.css" type='text/css' media='all' />
        <link rel="stylesheet" href="/styles/custom.css" type='text/css' media='all' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Muli%3A400%2C300&#038;subset=latin&#038;ver=4.4.2' type='text/css' media='all' />
        <%- style %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <a href="#content" class="sr-only">Skip to main content</a>

        <!-- HEADER -->
        <header id="banner-header" class="banner navbar navbar-default topnavbar navbar-static-top" role="banner">
            <div class="container">
                
                <!-- LOGO -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <h2>HAZEL</h2>
                    </a>
                    <form role="search" method="get" id="searchform" class="form-search navbar-form" action="http://themes.pressapps.io/knowledgepress-1/">
                        <i class="fa fa-search"></i>
                        <label class="hide" for="s">Search for:</label>
                        <input type="text" value="" name="s" id="autocomplete-ajax" class="searchajax form-control search-query" placeholder="Search Knowledge Base">
                    </form>
                </div>
            </div>
        </header>
        
        <%- body %>
        
        <!-- FOOTER -->
        <!--<div class="footer-cta"></div>-->
        <footer id="page-footer " class="content-info " role="contentinfo ">
            <div class="container ">
                <!--<div class="row ">
                    <div class="col-md-4">
                        <section id="custom-recent-posts-3 " class="widget widget_recent_entries ">
                            <h3 class="widget-title ">Recent Articles</h3>
                            <ul>
                                <li class="list-post pa-post-format ">
                                    <i class="kp-w kp-film3 "></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/06/19/vimeo-video/" rel="bookmark " title="Permanent link to Customizing Forms ">Customizing Forms</a>
                                </li>
                                <li class="list-post pa-post-format ">
                                    <i class="kp-w kp-image4 "></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/upgrading-theme/" rel="bookmark " title="Permanent link to Upgrading Theme ">Upgrading Theme</a>
                                </li>
                                <li class="list-post pa-post-format ">
                                    <i class="kp-w kp-film3 "></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/ftp-installation/" rel="bookmark " title="Permanent link to Plugin Installation ">Plugin Installation</a>
                                </li>
                                <li class="list-post pa-post-format ">
                                    <i class="kp-w kp-file-text2 "></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/local-server-setup/" rel="bookmark " title="Permanent link to Local Server Setup ">Local Server Setup</a>
                                </li>
                                <li class="list-post pa-post-format ">
                                    <i class="kp-w kp-film3 "></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/theme-installation/" rel="bookmark " title="Permanent link to Theme Installation ">Theme Installation</a>
                                </li>
                                <li class="list-post pa-post-format ">
                                    <i class="kp-w kp-film3 "></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/multiple-ship-to-addresses/" rel="bookmark " title="Permanent link to Multiple Ship to Addresses ">Multiple Ship to Addresses</a>
                                </li>
                                <li class="list-post pa-post-format ">
                                    <i class="kp-w kp-file-text2 "></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/local-pickup/" rel="bookmark " title="Permanent link to Well Documented ">Well Documented</a>
                                </li>
                                <li class="list-post pa-post-format ">
                                    <i class="kp-w kp-file-text2 "></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/flat-rate-shipping/" rel="bookmark " title="Permanent link to Unlimited Colors ">Unlimited Colors</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <section id="most_popular_widget-3 " class="widget widget_most_popular_widget">
                            <h3 class="widget-title ">Popular Articles</h3>
                            <ul>
                                <li class="list-post pa-post-format "><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/subscriptions/ " title="Subscriptions Modul Setup ">Subscriptions Modul Setup</a></li>
                                <li class="list-post pa-post-format "><i class="kp-w kp-film3 "></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/06/19/vimeo-video/" title="Customizing Forms ">Customizing Forms</a></li>
                                <li class="list-post pa-post-format "><i class="kp-w kp-file-text2 "></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/multiple-installs-on-one-domain/" title="Multiple installs on one domain ">Multiple installs on one domain</a></li>
                                <li class="list-post pa-post-format "><i class="kp-w kp-file-text2 "></i> <a href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/unlimited-theme-colors/" title="Theme Set Up ">Theme Set Up</a></li>
                                <li class="list-post pa-post-format "><i class="kp-w kp-file-text2 "></i> <a href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/standard-post-format/" title="Standard Post Format ">Standard Post Format</a></li>
                                <li class="list-post pa-post-format "><i class="kp-w kp-file-text2 "></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/setting-up-product-attributes/" title="Setting up attributes ">Setting up attributes</a></li>
                                <li class="list-post pa-post-format "><i class="kp-w kp-file-text2 "></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/automated-follow-up-emails/" title="Follow up Emails ">Follow up Emails</a></li>
                                <li class="list-post pa-post-format "><i class="kp-w kp-film3 "></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/managing-multiple-sites/" title="Video Post Format ">Video Post Format</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <section id="bbp_topics_widget-2 " class="widget widget_display_topics">
                            <h3 class="widget-title ">Recent Topics</h3>
                            <ul>
                                <li>
                                    <a class="bbp-forum-title " href="http://themes.pressapps.io/knowledgepress-1/forums/topic/uploading-post-image/ ">Uploading post image</a>
                                </li>
                                <li>
                                    <a class="bbp-forum-title " href="http://themes.pressapps.io/knowledgepress-1/forums/topic/home-page-boxes/ ">Home page boxes</a>
                                </li>
                                <li>
                                    <a class="bbp-forum-title " href="http://themes.pressapps.io/knowledgepress-1/forums/topic/page-template-setup/ ">Page template setup</a>
                                </li>
                                <li>
                                    <a class="bbp-forum-title " href="http://themes.pressapps.io/knowledgepress-1/forums/topic/custom-widgets/ ">Custom Widgets</a>
                                </li>
                                <li>
                                    <a class="bbp-forum-title " href="http://themes.pressapps.io/knowledgepress-1/forums/topic/enable-shortcode-generator/ ">Enable shortcode generator</a>
                                </li>
                                <li>
                                    <a class="bbp-forum-title " href="http://themes.pressapps.io/knowledgepress-1/forums/topic/edit-copyright-notice/ ">Edit copyright notice</a>
                                </li>
                                <li>
                                    <a class="bbp-forum-title " href="http://themes.pressapps.io/knowledgepress-1/forums/topic/setup-google-analytics/ ">Setup Google analytics</a>
                                </li>
                                <li>
                                    <a class="bbp-forum-title " href="http://themes.pressapps.io/knowledgepress-1/forums/topic/uploading-a-favicon-image/ ">Uploading a favicon image</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>-->
                <div class="clearfix "></div>
                <div id="footer-copyright">
                    <div class="row">
                        <div id="copyright-bar">© 2016 Developed By WMK.IO</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>
        
        <%- script %>
    </body>
</html>