<!-- HEADER -->
<div class="before-main-wrapper">
    <div class="header-wrapper"" data-vide-options="posterType: none">
        <div class="container header-left">
            <div class="header-titles">
                <h1>Follow up Emails</h1>
            </div >
        </div >
    </div >
</div >

<!-- CONTENT -->
<div class="container wrap main-section" id="wrap-main-section">
    <div id="content" class="content">
        <div class="row bg">
            <main class="main col-sm-9"  role="main">
                <article class="post-739 post type-post status-publish format-standard hentry category-using-the-admin-panel category-extensions category-shipping-methods category-troubleshooting">
                    <div class="entry-content">
                        <%- content %>
                    </div>

                    <div id="related" class="clearfix">
                        <h3>Related Articles</h3>
                        <ul class="clearfix">
                            <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/standard-post-format/">Standard Post Format</a></li>
                            <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/disabled-comments/">Disabled Comments</a></li>
                            <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/unlimited-theme-colors/">Theme Set Up</a></li>
                            <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/flat-rate-shipping/">Unlimited Colors</a></li>
                            <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/local-pickup/">Well Documented</a></li>
                            <li class="list-post pa-post-format"><i class="kp-w kp-film3"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/multiple-ship-to-addresses/">Multiple Ship to Addresses</a></li>
                        </ul>
                    </div>
                    
                </article>
            </main>
            <!-- /.main -->
            
            <!-- SIDEBAR -->
            <aside id="sidebar-primary" class="sidebar col-sm-3" role="complementary">
                <section id="custom-recent-posts-2" class="widget widget_recent_entries">
                    <h3 class="widget-title">Recent Articles</h3>
                    <ul>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-file-text2"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/standard-post-format/" rel="bookmark" title="Permanent link to Standard Post Format">Standard Post Format</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-file-text2"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/disabled-comments/" rel="bookmark" title="Permanent link to Disabled Comments">Disabled Comments</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-file-text2"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/unlimited-theme-colors/" rel="bookmark" title="Permanent link to Theme Set Up">Theme Set Up</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-film3"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/managing-multiple-sites/" rel="bookmark" title="Permanent link to Video Post Format">Video Post Format</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-file-text2"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/automated-follow-up-emails/" rel="bookmark" title="Permanent link to Follow up Emails">Follow up Emails</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-image4"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/paypal-payments-setup/" rel="bookmark" title="Permanent link to Fully Responsive Design">Fully Responsive Design</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-file-text2"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/flat-rate-shipping/" rel="bookmark" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-file-text2"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/local-pickup/" rel="bookmark" title="Permanent link to Well Documented">Well Documented</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-film3"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/multiple-ship-to-addresses/" rel="bookmark" title="Permanent link to Multiple Ship to Addresses">Multiple Ship to Addresses</a>
                        </li>
                        <li class="list-post pa-post-format">
                            <i class="kp-w kp-film3"></i> <a  href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/theme-installation/" rel="bookmark" title="Permanent link to Theme Installation">Theme Installation</a>
                        </li>
                    </ul>
                </section>
                <section id="most_popular_widget-2" class="widget widget_most_popular_widget">
                    <h3 class="widget-title">Popular Articles</h3>
                    <ul>
                        <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/subscriptions/" title="Subscriptions Modul Setup">Subscriptions Modul Setup</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-film3"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/06/19/vimeo-video/" title="Customizing Forms">Customizing Forms</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/multiple-installs-on-one-domain/" title="Multiple installs on one domain">Multiple installs on one domain</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/unlimited-theme-colors/" title="Theme Set Up">Theme Set Up</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/standard-post-format/" title="Standard Post Format">Standard Post Format</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/setting-up-product-attributes/" title="Setting up attributes">Setting up attributes</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/automated-follow-up-emails/" title="Follow up Emails">Follow up Emails</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-film3"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/managing-multiple-sites/" title="Video Post Format">Video Post Format</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2012/11/05/increasing-the-memory-limit/" title="Increasing Memory">Increasing Memory</a></li>
                        <li class="list-post pa-post-format"><i class="kp-w kp-file-text2"></i> <a href="http://themes.pressapps.io/knowledgepress-1/2013/01/12/disabled-comments/" title="Disabled Comments">Disabled Comments</a></li>
                    </ul>
                </section>
            </aside>
            <!-- /.sidebar -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.wrap -->
