<div class="before-main-wrapper">
    <div class="header-wrapper"" data-vide-options="posterType: none">
        <div class="container header-left">
            <div class="header-titles">
                <h1>Search Results for "<%= searchTerm %>"</h1>
            </div>
        </div>
    </div>
</div>
<div class="container wrap main-section" id="wrap-main-section">
    <div id="content" class="content">
        <div class="row bg">
            <main class="main col-sm-8"  role="main">
                <% if(results && results.length > 0){ %>
                    <% for(var i = 0; i < results.length; i++){ var result = results[i]; %>
                    <article class="post-768 post type-post status-publish format-video hentry category-video-tutorials post_format-post-format-video">
                        <header>
                            <h2 class="entry-title">
                                <a href="/<%= result.slug %>"><%= result.title %></a>
                            </h2>
                        </header>
                        <div class="entry-summary">
                            <%- result.html %>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                    <% } %>
                <% } else { %>
                    <p> No results found for "<%= searchTerm %>"</p>
                <% } %>
                
                <!-- PAGINATION -->
                
                <!--<nav class="pagination">
                    <ul class="page-numbers pagination">
                        <li class='active current'><span class='page-numbers current'>1</span></li>
                        <li><a class='page-numbers' href='http://themes.pressapps.io/knowledgepress-1/search/s/page/2/'>2</a></li>
                        <li><a class='page-numbers' href='http://themes.pressapps.io/knowledgepress-1/search/s/page/3/'>3</a></li>
                        <li><a class='page-numbers' href='http://themes.pressapps.io/knowledgepress-1/search/s/page/4/'>4</a></li>
                        <li><a class='page-numbers' href='http://themes.pressapps.io/knowledgepress-1/search/s/page/5/'>5</a></li>
                        <li><a class="next page-numbers" href="http://themes.pressapps.io/knowledgepress-1/search/s/page/2/"><i class="kp-arrow-right4"></i></a></li>
                    </ul>
                </nav>-->
            </main>
            <!-- /.main -->
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.wrap -->